div {
    /* border: 1px red solid;*/
}

body {
    display: flex;
    justify-content: center;

}

#page {
    min-height: 800px;
    max-width: 800px;
    background-color: burlywood; /** Denne farve er sat for at kunne se felter **/
}

header {
    display: flex;
    justify-content: center;
    background-color: blueviolet;


}

nav {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding:10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.5rem;
}
#center-nav {
  padding: 0;
}
#content {
    /* background-color: lightgray;*/
    padding:20px;
}

#intro-text {
    padding:20px;
}

#dropdowns {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#dropdowns select {
    flex-grow: 1;
    font-size: 1.3rem;
    padding:10px;
}

#order-button {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;

}

#order-button button:hover {
    background-color: lightgreen;
}

#order-button button {
    width: 80px;
    height:40px;
    font-size: 1.3rem;
    background-color: green;
    color: white;
    cursor: pointer;
}

#comment {
    padding: 10px;
}

#comment textarea {
    padding:10px;
}
.basket-container {
    position: relative;
}

.basket-link {
    display: inline-block;
}

.basket-image {
    width: 50px;
    height: 50px;
}

.basket-count {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 5px;
    background-color: lightgrey;
    border-radius: 50%;
    font-size: 14px;
    border: 2px solid black;
}

.basket-count span {
    color: black;
}

.All-orders-tabel {
        border-collapse: collapse;
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 20px;
        min-width: 400px;
    }

    .All-orders-tabel td, .All-orders-tabel th {
        border: 1px solid #ddd;
        padding: 10px;
    }


 table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
     background-color: #c3efd5;
 }

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
}





@media screen and (max-width: 600px){

    #dropdowns {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap:10px;
    }


}



/*** Generiske styles ***/

button {
    border-radius: 5px;
}



