<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cupcake</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div id="page">

    <header>
        <a href="index.html" th:href="@{/}">
            <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"width =80%/>
        </a>
    </header>

    <nav>
        <div id="left-nav">

        </div>
        <div id="right-nav"> <span th:text="${session.currentUser.email}"></span>  </div>
    </nav>

    <h1>Du er nu logget ind som Admin</h1>


    <form th:action="@{/allOrderlines}" method="get">
        <button type="submit">Vis alle bestilte cupcakes</button>
    </form>

    <form th:action="@{/allOrders}" method="get">
        <button type="submit">Vis alle ordre</button>
    </form>


    <h2>Indtast Order ID</h2>
    <form id="order-form" method="get" action="/order_details.html">
        <input type="text" name="orderId" placeholder="Indtast Order ID" required/>
        <button type="submit">Vis ordre</button>
    </form>


    <h2>Tilføj penge til konto</h2>
    <form action="/addBalance" method="post">
        <label for="userId">Brugerens ID:</label><br>
        <input type="number" id="userId" name="userId" required><br>

        <label for="balance">Beløb til tilføjelse:</label><br>
        <input type="number" id="balance" name="balance" required><br><br>

        <button type="submit">Tilføj Balance</button>
    </form>

    <p th:if="${messagebalance != null}" th:text="${messagebalance}"></p>

    <h2>Slet ordre</h2>
    <form action="/deleteOrder" method="post">
        <label for="orderId">Order ID:</label><br>
        <input type="text" id="orderId" name="orderId" required><br><br>
        <button type="submit">Delete</button>
    </form>

    <p th:if="${messagedelete != null}" th:text="${messagedelete}"></p>


    <p th:if="${session.currentUser != null}">
        <a href="index.html" th:href="@{/logout}">Log ud</a>
    </p>



</body>
</html>