<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div id="page">

    <header>
        <a href="index.html" th:href="@{/}">
            <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"width =80%/>
        </a>
    </header>

    <nav>
        <div id="left-nav">

        </div>
        <div id="right-nav"> <span th:text="${session.currentUser.email}"></span>  </div>
    </nav>

    <h1>Du er nu logget ind som Admin</h1>


    <h1>Alle ordrer</h1>
    <table class="All-orders-tabel">
        <thead>
        <tr>
            <th>Ordre ID</th>
            <th>Total pris</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${allOrdersList}">
            <td th:text="${order.orderId}"></td>
            <td th:text="${order.totalPrice}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td><strong>Samlet omsætning:</strong></td>
            <td><strong th:text="${totalSum}"></strong></td>
        </tr>
        </tfoot>
    </table>



    <p th:if="${session.currentUser != null}">
        <a href="admin_page.html" th:href="@{/adminback}">Tilbage</a>
    </p>



    <p th:if="${session.currentUser != null}">
        <a href="index.html" th:href="@{/logout}">Log ud</a>
    </p>
</div>

</body>
</html>