<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cupcake</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div id="page">

    <header>
        <a href="index.html" th:href="@{/}">
            <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}" width=80%/>
        </a>
    </header>

    <nav>
        <div id="left-nav">
            <a href="/" >Tilbage</a>

        </div>

    </nav>


    <h1>Din kurv </h1>


    <table>
        <tr>
            <th>Top</th>
            <th>Bund</th>
            <th>Antal</th>
            <th>Pris</th>
        </tr>
        <tr th:each="cupcake: ${basketList}">
            <td th:text="${cupcake.top.flavour}"></td>
            <td th:text="${cupcake.bottom.flavour}"></td>
            <td th:text="${cupcake.quantity}"></td>
            <td th:text="${cupcake.price}"></td>
        </tr>
        <tr>
            <tfoot>
            <th colspan="3">Totalpris er:</th>
            <td th:text="${sum}">Total price</td>
            </tfoot>
        </tr>

    </table>


    <div>
        <form id="order-button" method="get" th:action="@{/pay}">
            <button type="submit">Betal</button>
        </form>
    </div>

</div>

</body>
</html>