<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div id="page">

    <header>
        <a href="index.html" th:href="@{/}">
            <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"width =80%/>
        </a>
    </header>

    <nav>
        <div id="left-nav">
            <a href="https://dr.dk">Orders</a>

        </div>
        <div id="right-nav">  </div>
    </nav>
    <h1>Din kurv </h1>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    </head>
    <body>

    <table>
        <tr >
            <th>Top</th>
            <th>Bund</th>
            <th>Antal</th>
            <th>Pris</th>
        </tr>
        <tr th:each="cupcake: ${basketList}">
            <td th:text="${cupcake.top.flavour}" ></td>
            <td th:text="${cupcake.bottom.flavour}"></td>
            <td th:text="${cupcake.quantity}" ></td>
            <td th:text="${cupcake.price}" ></td>
        </tr>
    </table>

    </body>



    <h2>login</h2>
    <div>
        <form id="generic-form" method="post">
            <input type="text" name="email" placeholder="Email"/>
            <input type="password" name="password" placeholder="Password"/>

            <button type="submit" formaction="/login">Log på</button>

            <div><p th:text="${message}"> </p></div>
        </form>
    </div>

    <h3>ikke bruger?</h3>
    <p><a href="createuser.html" th:href="@{/createuser}">Opret konto</a> </p>
</div>

</body>
</html>