<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cupecake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div id="page">

    <header>
        <a href="index.html" th:href="@{/}">
            <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"width =80%/>
        </a>
    </header>

    <nav>
        <div id="left-nav">
            <a href="https://dr.dk">Orders</a>
            <a href="https://eb.dk">Kunder</a>
        </div>
        <div id="right-nav">    <a href ="basket.html" th:href="@{/basket}">
            <img src="../public/images/basketlogo.png" th:src="@{/images/basketlogo.png}"/>
        </a>
        </div>
    </nav>

    <h1>opret bruger</h1>

        <div>
            <form class="createuser-form" method="post">

                <input type="text" name="user_name" placeholder="Angiv navn"/> <br>
                <input type="text" name="phonenumber" placeholder="Angiv telefonnummer"/> <br>
                <input type="text" name="email" placeholder="Angiv email"/> <br>
                <input type="password" name="password1" placeholder="Angiv ønsket password"/> <br>
                <input type="password" name="password2" placeholder="Angiv ønsket password igen"/> <br>
                <br>
                <button type="submit" formaction="/createuser">opret bruger</button>

                <div><p th:text="${message}"> </p></div>
            </form>
        </div>

</div>

</body>
</html>