<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div id="page">

    <header>
        <a href="index.html" th:href="@{/}">
            <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"width =80%/>
        </a>
    </header>

    <nav>
        <div id="left-nav">


        </div>
        <div id="right-nav" class="basket-container">
            <span th:if="${session.currentUser != null}" th:text="${session.currentUser.email}"></span>
            <a href="basket.html" th:href="@{/basket}" class="basket-link">
                <img src="../public/images/basketlogo.png" th:src="@{/images/basketlogo.png}" alt="Basket Logo" class="basket-image">
                <p class="basket-count">
                    <span th:text="${#lists.size(session.basketList)}"></span>
                </p>
            </a>
        </div>

    </nav>
    <h1>du er nu logget ind som kunde </h1>


    <p th:if="${session.currentUser != null}">
        <a href="index.html" th:href="@{/logout}">Log ud</a>
    </p>
</div>

</body>
</html>