<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div id="page">

    <header>
        <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"width =80%/>
    </header>

    <nav>
        <div id="left-nav">

        </div>
        <div id="right-nav"><a href="login.html" th:href="@{/login}"> Login</a>  <a href ="basket.html" th:href="@{/basket}">
            <img src="../public/images/basketlogo.png" th:src="@{/images/basketlogo.png}"/>
        </a></div>
    </nav>

    <div id="content">

        <div id="intro-text">
            <h1>Velkommen ombord</h1>
            <h2>Øens bedste cupcakes</h2>
        </div>

        <form action="#" th:action="@{/addToBasket}">
        <div id="dropdowns">
            <select name="bottom" id="bottom">
                <option id="0">Vælg bund</option>
                <option th:value="${bottom.bottomId}" th:each="bottom: ${bottomList}" th:text="${bottom.flavour + ' ' + bottom.price + 'kr.'}"> </option>
            </select>
            <select  name="top" id="top">
                <option id="0">Vælg top</option>
                <option th:value="${top.topId}" th:each="top: ${topList}" th:text="${top.flavour + ' ' + top.price + 'kr.'}"> </option>
            </select>

            <select name="quantity" id="quantity">
                <option id="0" >Vælg antal</option>
                <option value="1">1 stk</option>
                <option value="2">2 stk</option>
                <option value="3">3 stk</option>
                <option value="4">4 stk</option>
                <option value="5">5 stk</option>
                <option value="6">6 stk</option>
                <option value="7">7 stk</option>
                <option value="8">8 stk</option>
                <option value="9">9 stk</option>
                <option value="10">10 stk</option>
            </select>
        </div>

        <div id="comment">
            <textarea cols="40" rows="4" placeholder="Har du en kommentar, så skriv den her ..."></textarea>
        </div>

        <div>
            <tr th:each="cupcake: ${basketList}">
                <td th:text="${cupcake.bottom + ' ' + cupcake.quantity}">

                </td>
            </tr>
        </div>

        <div id="order-button">

                <button type="submit">Tilføj</button>
            </form>

        </div>

    </div>

    <p><a href="createuser.html" th:href="@{/createuser}">Opret konto</a> </p>
</div>

</body>
</html>
