<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div id="page">

    <header>
        <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"width =80%/>
    </header>

    <nav>
        <div id="left-nav">

        </div>
        <div id="right-nav"><a href="login.html" th:href="@{/login}"> Login</a>  <a href ="basket.html" th:href="@{/basket}">
            <img src="../public/images/basketlogo.png" th:src="@{/images/basketlogo.png}"/>
        </a></div>
    </nav>

    <div id="content">

        <div id="intro-text">
            <h1>Velkommen ombord</h1>
            <h2>Øens bedste cupcakes</h2>
        </div>


        <div id="dropdowns">
            <select name="bottom" id="bottom">
                <option>Vælg bund</option>
                <option th:each="bottom: ${bottomList}" th:text="${bottom.flavour + ' ' + bottom.price + 'kr.'}"> </option>
            </select>
            <select  name="top" id="top">
                <option>Vælg top</option>
                <option th:each="top: ${topList}" th:text="${top.flavour + ' ' + top.price + 'kr.'}"> </option>
            </select>

            <select name="quantity" id="quantity">
                <option>Vælg antal</option>
                <option value="1">1 stk</option>
                <option value="1">2 stk</option>
                <option value="1">3 stk</option>
            </select>
        </div>

        <div id="comment">
            <textarea cols="40" rows="4" placeholder="Har du en kommentar, så skriv den her ..."></textarea>
        </div>

        <div id="order-button">
            <button type="submit">Bestil</button>
        </div>

    </div>

    <p><a href="createuser.html" th:href="@{/createuser}">Opret konto</a> </p>
</div>

</body>
</html>
