<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Cupcake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>


<body>

<div id="page">

    <header>
        <a href="index.html" th:href="@{/}">
        <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"width =80%/>
        </a>
    </header>

    <nav>
        <div id="left-nav">
            <a href="https://dr.dk">Orders</a>
            <a href="https://eb.dk">Kunder</a>
        </div>
        <div id="right-nav"> KURV</div>
    </nav>

    <div>
        <form id="generic-form" method="post">
            <input type="text" name="email" placeholder="Email"/>
            <input type="password" name="password" placeholder="Password"/>

            <button type="submit" formaction="/login">Log på</button>

            <div><p th:text="${message}"> </p></div>
        </form>
    </div>
    <p><a href="createuser.html" th:href="@{/createuser}">Opret konto</a> </p>
</div>



</body>
</html>